<%- include("partials/header"); %>

<div class="jumbotron centered">
  <div class="container">
    <img src="/favicon/clock.jpg" alt="Clock Photo" class="clock-image">
    <h1 class="display-3">Time Management Application</h1>
    <p class="lead">The right place for you to manage your tasks and maximize daily output!</p>
    <hr>
    <a class="btn btn-lg register-button" href="/register" role="button">Register</a>
    <a class="btn btn-lg login-button" href="/login" role="button">Login</a>

  </div>
</div>

<%- include("partials/footer"); %>
